force-app/main/default/flows/HandleUploadDocumentResponse.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>HandleDocumentUploaded {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HandleUploadDocumentResponse</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>DocumentsUploadedNotificationEvent</name>
        <label>DocumentsUploadedNotificationEvent</label>
        <locationX>519</locationX>
        <locationY>277</locationY>
        <inputAssignments>
            <field>recordId__c</field>
            <value>
                <elementReference>$Record.recordId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <elementReference>thisLoan.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>UploadDocumentNotification__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>UpdateLoanStatus</name>
        <label>UpdateLoanStatus</label>
        <locationX>173</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>DocumentsUploadedNotificationEvent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.recordId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>SentToThirdPartyForVerification</stringValue>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>UpdateLoanStatus</targetReference>
        </connector>
        <object>UploadDocumentResponse__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RaiseUploadDocumentNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UploadDocumentNotification__e</objectType>
    </variables>
    <variables>
        <name>thisLoan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
</Flow>
