force-app/main/default/flows/HandleLoanUpdates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>UploadDocumentRequestAssign</name>
        <label>UploadDocumentRequestAssign</label>
        <locationX>512</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>initiateDocUploadRequest.recordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RaiseUploadDocumentsEvent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DocumentsUploaded</name>
        <label>DocumentsUploaded</label>
        <locationX>169</locationX>
        <locationY>332</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DocumentsUploadedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WaitingForThirdPartyForVerification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UploadDocumentRequestAssign</targetReference>
            </connector>
            <label>DocumentsUploadedTrue</label>
        </rules>
    </decisions>
    <interviewLabel>HandleLoanUpdates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HandleLoanUpdates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>RaiseUploadDocumentsEvent</name>
        <label>RaiseUploadDocumentsEvent</label>
        <locationX>776</locationX>
        <locationY>341</locationY>
        <inputReference>initiateDocUploadRequest</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>DocumentsUploaded</targetReference>
        </connector>
        <object>Loan__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>initiateDocUploadRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DocUploadRequest__e</objectType>
    </variables>
    <variables>
        <name>UploadDocumentRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UploadDocument__e</objectType>
    </variables>
</Flow>
